In [1]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('../Data/Nutrition_Dataset.csv')
data = data.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
data.head()

,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,Protein,Dietary Fiber,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
0,cream cheese,51,5.0,2.9,1.3,0.200,0.8,0.500,0.9,0.0,...,0.008,14.100,0.082,0.027,1.300,0.091,15.5,19.100,0.039,7.070
1,neufchatel cheese,215,19.4,10.9,4.9,0.800,3.1,2.700,7.8,0.0,...,99.500,0.034,0.100,8.500,0.088,117.300,129.2,0.054,0.700,130.100
2,requeijao cremoso light catupiry,49,3.6,2.3,0.9,0.000,0.9,3.400,0.8,0.1,...,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,5.400
3,ricotta cheese,30,2.0,1.3,0.5,0.002,1.5,0.091,1.5,0.0,...,0.097,41.200,0.097,0.096,4.000,0.024,30.8,43.800,0.035,5.196
4,cream cheese low fat,30,2.3,1.4,0.6,0.042,1.2,0.900,1.2,0.0,...,22.200,0.072,0.008,1.200,0.098,22.800,37.1,0.034,0.053,27.007

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2395 entries, 0 to 2394
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   food                  2395 non-null   object
 1   Caloric Value         2395 non-null   int64
 2   Fat                   2395 non-null   float64
 3   Saturated Fats        2395 non-null   float64
 4   Monounsaturated Fats  2395 non-null   float64
 5   Polyunsaturated Fats  2395 non-null   float64
 6   Carbohydrates         2395 non-null   float64
 7   Sugars                2395 non-null   float64
 8   Protein               2395 non-null   float64
 9   Dietary Fiber         2395 non-null   float64
 10  Cholesterol           2395 non-null   float64
 11  Sodium                2395 non-null   float64
 12  Water                 2395 non-null   float64
 13  Vitamin A             2395 non-null   float64
 14  Vitamin B1            2395 non-null   float64
 15  Vitamin B11           2395 non-null   float64
 16  Vitamin B12           2395 non-null   float64
 17  Vitamin B2            2395 non-null   float64
 18  Vitamin B3            2395 non-null   float64
 19  Vitamin B5            2395 non-null   float64
 20  Vitamin B6            2395 non-null   float64
 21  Vitamin C             2395 non-null   float64
 22  Vitamin D             2395 non-null   float64
 23  Vitamin E             2395 non-null   float64
 24  Vitamin K             2395 non-null   float64
 25  Calcium               2395 non-null   float64
 26  Copper                2395 non-null   float64
 27  Iron                  2395 non-null   float64
 28  Magnesium             2395 non-null   float64
 29  Manganese             2395 non-null   float64
 30  Phosphorus            2395 non-null   float64
 31  Potassium             2395 non-null   float64
 32  Selenium              2395 non-null   float64
 33  Zinc                  2395 non-null   float64
 34  Nutrition Density     2395 non-null   float64
dtypes: float64(33), int64(1), object(1)
memory usage: 655.0+ KB

In [7]:
# Rename column food to Food
data = data.rename(columns={' food': 'Food'})

In [10]:
data.to_csv('../Data/Cleaned_Nutrition_Dataset.csv', index=False)